## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
[Bb]in/
[Oo]bj/

## NuGet
*.nupkg
**/packages/*
*.nuget.props
*.nuget.targets
project.lock.json

## IDE
.vs/
.vscode/
*.user
*.suo
*.sln.docstates
.idea/

## OS
.DS_Store
Thumbs.db

## Testing
TestResults/
coverage/
*.coverage

## Misc
*.log
